@using DataProvider
@model Person
@{
    ViewData["Title"] = "Detail page";
}

<form asp-action="Update" method="post">
    <label asp-for="FirstName">Firstname</label>
    <input asp-for="FirstName" value="@Model.FirstName" />
    <label asp-for="LastName">LastName</label>
    <input asp-for="LastName" value="@Model.LastName" />
    <label asp-for="Age">Age</label>
    <input asp-for="Age" value="@Model.Age" />
    <input type="hidden" asp-for="PersonId" value="@Model.PersonId" />
    <input type="submit" value="Mettre à jour"/>
</form>

<a href="/Home/Delete/@Model.PersonId">Supprimer</a>