@using DataProvider
@model Person
@{
    ViewData["Title"] = "Detail page";
}

<p>Prenom = @Model.FirstName</p>
<p>Nom = @Model.LastName </p>
<p>Id = @Model.PersonId </p>
<p>Age = @Model.Age</p>
