@using DataProvider
@model IEnumerable<Person>
@{
    ViewData["Title"] = "Home Page";
}
<ul>

@foreach (var item in Model)
{
   <li><a href="Home/Detail/@item.PersonId">@item.FirstName</a> </li>
}
</ul>