@page "{id:Guid}"
@using DataProvider
@model DetailModel
@{
    ViewData["Title"] = "Detail";
}

<p>
    Age = @Model.person.Age
</p>
<p>
    Prenom = @Model.person.FirstName
</p>
<p>
    Nom = @Model.person.LastName
</p>
<p>
    Id = @Model.person.PersonId
</p>
