@page
@using DataProvider
@model IndexModel
@inject IPersonRepository _dataProvider
@{
    ViewData["Title"] = "Home page";
}
<ul>

@foreach (var item in _dataProvider.GetAll())
{
    <li><a href="detail/@item.PersonId">@item.FirstName</a></li>
}
</ul>
